<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/%22%3E">
<head>
    <meta charset="UTF-8">
<title>Add Company</title>
</head>
<body>
<div class="add_company">
    <h1>Add</h1>
    <form action="/company/add" method="post">
        <input type="text" name="name" placeholder="input company name">
        <input type="number" name="size" min="1" max="1000">
        <select name="address">
            <option value="" selected disabled hidden>Choose address</option>
            <option th:each="address: ${addresses}" th:text="${address.name()}" th:value="${address.name()}"></option>
        </select>
        <input type="submit" value="ADD COMPANY">
    </form>
</div>
</body>
</html>