<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/%22%3E">
<head>
    <meta charset="UTF-8">
<title>Employees</title>
</head>
<body>
<div class="employees">
    <table border="1px solid black">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>surname</th>
            <th>email</th>
            <th>phone number</th>
            <th>salary</th>
            <th>position</th>
            <th>profile picture</th>
            <th>company</th>
            <th>action</th>
        </tr>
        <tr th:each="employees: ${employee}">
            <td th:text="${employees.id}"></td>
            <td th:text="${employees.name}"></td>
            <td th:text="${employees.surname}"></td>
            <td th:text="${employees.email}"></td>
            <td th:text="${employees.phoneNumber}"></td>
            <td th:text="${employees.salary}"></td>
            <td th:text="${employees.position}"></td>
            <td>
                <img th:src="@{/employees/getImage(fileName=${employee.profilePic})}" alt="">
            </td>
            <td th:text="${employees.company.name}"></td>
            <td>
                <a href="/emploee/add">ADD</a>
                <a th:href="@{/employee/delete{id}(id=${employee.getId()})}">DELETE</a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>